streamlit==1.36.0
torch==2.3.0
transformers==4.41.2
pandas==2.2.2
nltk==3.9.1
scikit-learn==1.5.1
accelerate
janome
pyngrok
huggingface_hub==0.24.6
bitsandbytes==0.43.3
numpy==1.26.4
safetensors==0.4.4
torchvision==0.18.0
